In [1]:
import pickle as pk
import pandas as pd
from IPython.display import display
# Note that pickle doesn't actually store information about how a class/object is constructed, 
# and needs access to the class when unpickling.

# A snapshot of a single frame within a game along with the final win_outcome at that frame
class BoardState:
    def __init__(self, board_state, win_outcome_list = []):
        self.board_state = board_state
        self.win_outcome_list = win_outcome_list
        
    def get_board_state(self):
        return self.board_state
    
    def get_win_outcome_list(self):
        return self.win_outcome_list
    
    def add_win_outcome_to_list(self, new_win_outcome):
        self.win_outcome_list.append(new_win_outcome)

# Contains the entire game in a list of BoardState objects
class OthelloGameStates:
    board_state_obj_list = []
    
    def __init__(self, board_state_obj):
        self.board_state_obj_list.append(board_state_obj)
        
    def add_board_state_obj_to_list(self, board_state_obj):
        self.board_state_obj_list.append(board_state_obj)
        
    def get_board_state_obj_list(self):
        return self.board_state_obj_list
    
    def get_count(self):
        return len(self.board_state_obj_list)

In [2]:
# Debugger used to read in and visualize game states from the pickle file
try:
    with open("othello_game_states_reduced.pickle","rb") as pickle_in:
        db_game_states_dict = pk.load(pickle_in)
        count = 1
        for key in db_game_states_dict.keys():
            state = db_game_states_dict[key]
            df = pd.DataFrame(state.get_board_state())
            display(df)
            print("count:",count,"< win-outcome list =>", state.get_win_outcome_list(), ">")
            count += 1
except IOError:
    print("IOError", file=sys.stderr)
except EOFError:
    print("EOFError", file=sys.stderr)

   0  1  2  3  4  5  6  7
0 -1 -1  0  0  0  0  0 -1
1 -1  1  1  0  0  0 -1  1
2 -1  1  1  1  0  0  0  0
3  1  1  1  0  0  1  0  0
4  1  1  0  0  1  0  0  0
5  1  1  1  1  0  1  0  0
6  0 -1  0  0  0  0  1  0
7 -1  1  1  1  1  1  1  1

count: 1 < win-outcome list => [1, 1] >

   0  1  2  3  4  5  6  7
0 -1 -1 -1 -1 -1 -1 -1 -1
1 -1 -1 -1 -1 -1 -1 -1 -1
2 -1 -1 -1 -1 -1 -1 -1 -1
3 -1 -1 -1  1  1  1 -1 -1
4 -1 -1  0  0  1  0 -1 -1
5 -1 -1 -1  1 -1 -1 -1 -1
6 -1 -1 -1 -1 -1 -1 -1 -1
7 -1 -1 -1 -1 -1 -1 -1 -1

count: 2 < win-outcome list => [1, 0] >

   0  1  2  3  4  5  6  7
0 -1 -1 -1 -1 -1 -1 -1 -1
1 -1 -1 -1 -1 -1 -1 -1 -1
2 -1 -1 -1 -1 -1 -1 -1 -1
3 -1 -1 -1  1  1  1 -1 -1
4 -1 -1 -1  1  1  1 -1 -1
5 -1 -1 -1  1  0  0  0 -1
6 -1 -1 -1 -1  0 -1 -1 -1
7 -1 -1 -1 -1 -1 -1 -1 -1

count: 3 < win-outcome list => [1, 1] >

   0  1  2  3  4  5  6  7
0 -1 -1  0  0  0  0  0 -1
1 -1  1  1  0  0  0 -1 -1
2 -1  1  1  1  0  1  0 -1
3 -1  0  1  0  0  0  0  0
4 -1  0  0  0  0  0  0 -1
5 -1  0  1  1  1  1  1 -1
6 -1 -1 -1 -1  1  1 -1 -1
7 -1 -1 -1 -1  1 -1 -1 -1

count: 4 < win-outcome list => [1, 1] >

   0  1  2  3  4  5  6  7
0 -1 -1  0  0  0  0  0  0
1 -1  1  1  0  0  0 -1  0
2 -1  1  1  1  0  0  0  0
3  1  1  1  0  0  1  0  0
4  1  1  0  0  1  0  0  0
5  1  1  0  1  0  1  0  0
6  1  0  0  0  0  0  1  0
7  1  1  1  1  1  1  1  1

count: 5 < win-outcome list => [1, 1] >

   0  1  2  3  4  5  6  7
0 -1 -1 -1 -1 -1 -1 -1 -1
1 -1 -1 -1 -1 -1 -1 -1 -1
2 -1 -1 -1 -1 -1  0 -1 -1
3 -1 -1 -1  1  0  0 -1 -1
4 -1 -1 -1  0  0  0 -1 -1
5 -1 -1 -1 -1 -1 -1 -1 -1
6 -1 -1 -1 -1 -1 -1 -1 -1
7 -1 -1 -1 -1 -1 -1 -1 -1

count: 6 < win-outcome list => [0, 0, 1, 1] >

   0  1  2  3  4  5  6  7
0 -1 -1  0  0  0  0  0 -1
1 -1  1  1  0  0  0 -1 -1
2 -1  1  1  1  0  1  0 -1
3 -1  1  1  0  0  0  0  0
4  1  0  0  0  0  0  0 -1
5 -1  0  0  0  0  1  0 -1
6 -1 -1 -1  0  1  1 -1  0
7 -1 -1 -1 -1  1 -1 -1 -1

count: 7 < win-outcome list => [1, 1] >

   0  1  2  3  4  5  6  7
0 -1 -1 -1 -1  0 -1 -1 -1
1  1 -1  0  0 -1 -1 -1 -1
2 -1  1  0  1 -1 -1 -1 -1
3  0  0  1  1  1  1 -1 -1
4  0  0  1  1  1  1  1 -1
5  0  0  0  0  0 -1 -1 -1
6  0 -1  0 -1 -1 -1 -1 -1
7 -1 -1 -1 -1 -1 -1 -1 -1

count: 8 < win-outcome list => [0, 0] >

   0  1  2  3  4  5  6  7
0 -1 -1 -1 -1 -1 -1 -1 -1
1 -1 -1  0  0 -1 -1 -1 -1
2 -1  1  0  0  1 -1 -1 -1
3  1  1  0  1  1  1 -1 -1
4 -1  0  0  0  0  0 -1 -1
5 -1 -1  1  1 -1 -1 -1 -1
6 -1 -1 -1 -1 -1 -1 -1 -1
7 -1 -1 -1 -1 -1 -1 -1 -1

count: 9 < win-outcome list => [1, 1] >

   0  1  2  3  4  5  6  7
0 -1 -1 -1 -1 -1 -1 -1 -1
1 -1 -1 -1 -1 -1 -1 -1 -1
2 -1 -1 -1 -1 -1  0 -1 -1
3 -1 -1 -1  1  0  0 -1 -1
4 -1 -1 -1  0  0  0 -1 -1
5 -1 -1 -1 -1  0  1 -1 -1
6 -1 -1 -1 -1 -1 -1 -1 -1
7 -1 -1 -1 -1 -1 -1 -1 -1

count: 10 < win-outcome list => [0, 1] >

   0  1  2  3  4  5  6  7
0 -1 -1 -1 -1 -1 -1 -1 -1
1 -1 -1 -1 -1 -1 -1 -1 -1
2 -1 -1  0 -1 -1 -1 -1 -1
3 -1 -1 -1  0  1  1 -1 -1
4 -1 -1 -1  1  0  0 -1 -1
5 -1 -1  1 -1 -1 -1 -1 -1
6 -1 -1 -1 -1 -1 -1 -1 -1
7 -1 -1 -1 -1 -1 -1 -1 -1

count: 11 < win-outcome list => [0, 0] >

   0  1  2  3  4  5  6  7
0 -1 -1  0  0  0  0  0 -1
1 -1  1  1  0  0  0 -1 -1
2 -1  1  1  1  0  1  0 -1
3 -1  0  0  0  0  0  0  0
4 -1  0  0  1  1  1 -1 -1
5 -1  0 -1  1  1  1  1 -1
6 -1 -1 -1 -1  1  0 -1 -1
7 -1 -1 -1 -1 -1 -1 -1 -1

count: 12 < win-outcome list => [1, 1] >

   0  1  2  3  4  5  6  7
0 -1 -1 -1 -1 -1 -1 -1 -1
1 -1 -1 -1 -1 -1 -1 -1 -1
2 -1 -1 -1 -1 -1 -1 -1 -1
3 -1 -1 -1  1  0 -1 -1 -1
4 -1 -1 -1  1  0  0 -1 -1
5 -1 -1 -1  1  0  1 -1 -1
6 -1 -1 -1 -1  0 -1 -1 -1
7 -1 -1 -1 -1 -1 -1 -1 -1

count: 13 < win-outcome list => [2, 1, 1, 0, 1, 1] >

   0  1  2  3  4  5  6  7
0 -1 -1 -1 -1 -1 -1 -1 -1
1 -1 -1 -1 -1 -1 -1 -1 -1
2 -1 -1 -1 -1 -1  0  1 -1
3 -1 -1 -1  1  1  1 -1 -1
4 -1 -1 -1  1  1  0  0 -1
5 -1 -1 -1  1  1  1 -1 -1
6 -1 -1 -1  0  1 -1 -1 -1
7 -1 -1 -1 -1 -1 -1 -1 -1

count: 14 < win-outcome list => [1, 0] >

   0  1  2  3  4  5  6  7
0 -1 -1  0  0  0  0  0 -1
1 -1 -1 -1  1  0  0 -1 -1
2 -1  1  1  0  0  1  0 -1
3 -1 -1  0  0  1  1  1 -1
4 -1  0  0  1  1  1 -1 -1
5 -1  0 -1  1  1  1  1 -1
6 -1 -1 -1 -1  1  0 -1 -1
7 -1 -1 -1 -1 -1 -1 -1 -1

count: 15 < win-outcome list => [1, 1] >

   0  1  2  3  4  5  6  7
0 -1 -1 -1 -1 -1 -1 -1 -1
1 -1 -1 -1 -1 -1 -1 -1 -1
2 -1 -1 -1  0 -1 -1 -1 -1
3 -1 -1 -1  0  0  1 -1 -1
4 -1 -1 -1  0  0  0 -1 -1
5 -1 -1 -1 -1 -1 -1 -1 -1
6 -1 -1 -1 -1 -1 -1 -1 -1
7 -1 -1 -1 -1 -1 -1 -1 -1

count: 16 < win-outcome list => [0, 0] >

   0  1  2  3  4  5  6  7
0 -1 -1  0  0  0  0  0 -1
1 -1  1  1  0  0  0 -1  1
2 -1  1  1  1  0  1  1 -1
3 -1  1  1  0  0  1  0  0
4  1  0  0  0  1  0  0  0
5 -1  0  1  1  0  0  0  0
6  0 -1  1  0  0  0  0  0
7 -1  1 -1  0  0  0  0 -1

count: 17 < win-outcome list => [1, 1] >

   0  1  2  3  4  5  6  7
0 -1 -1 -1 -1 -1 -1 -1 -1
1 -1 -1  0 -1 -1 -1 -1 -1
2 -1  1  0  0 -1 -1 -1 -1
3 -1  1  1  1  1  1 -1 -1
4 -1 -1  1  0  0  0 -1 -1
5 -1 -1 -1  1 -1 -1 -1 -1
6 -1 -1 -1 -1 -1 -1 -1 -1
7 -1 -1 -1 -1 -1 -1 -1 -1

count: 18 < win-outcome list => [0, 1, 0] >

   0  1  2  3  4  5  6  7
0 -1 -1 -1 -1 -1 -1 -1 -1
1 -1 -1  0  1 -1 -1 -1 -1
2 -1  1  1  1 -1 -1 -1 -1
3 -1  1  1  1  1  1 -1 -1
4 -1  1  0  0  0  0 -1 -1
5 -1 -1  0  0  0 -1 -1 -1
6 -1 -1 -1 -1 -1 -1 -1 -1
7 -1 -1 -1 -1 -1 -1 -1 -1

count: 19 < win-outcome list => [0, 0] >

   0  1  2  3  4  5  6  7
0 -1 -1  1 -1  0 -1 -1 -1
1  1 -1  1  0 -1 -1 -1 -1
2 -1  1  1  1 -1 -1 -1 -1
3  0  0  1  1  1  1 -1 -1
4  0  0  1  1  1  1  1 -1
5  0  0  0  0  0 -1 -1 -1
6  0 -1  0 -1 -1 -1 -1 -1
7 -1 -1 -1 -1 -1 -1 -1 -1

count: 20 < win-outcome list => [0, 0] >

   0  1  2  3  4  5  6  7
0 -1 -1 -1 -1 -1 -1 -1 -1
1 -1 -1 -1 -1 -1 -1 -1 -1
2 -1 -1 -1 -1 -1 -1 -1 -1
3 -1 -1 -1  1  0 -1 -1 -1
4 -1 -1 -1  1  0  0 -1 -1
5 -1 -1 -1  1  1  1 -1 -1
6 -1 -1 -1 -1 -1 -1 -1 -1
7 -1 -1 -1 -1 -1 -1 -1 -1

count: 21 < win-outcome list => [2, 1, 1, 0, 0, 1, 1, 1, 0] >

   0  1  2  3  4  5  6  7
0 -1 -1 -1 -1 -1 -1 -1 -1
1 -1 -1 -1 -1 -1 -1 -1 -1
2 -1 -1 -1 -1 -1 -1 -1 -1
3 -1 -1 -1  1  1  1 -1 -1
4 -1 -1 -1  1  1  1 -1 -1
5 -1 -1 -1  1  1  0  0 -1
6 -1 -1 -1  1  0 -1 -1 -1
7 -1 -1 -1 -1 -1 -1 -1 -1

count: 22 < win-outcome list => [1, 1] >

   0  1  2  3  4  5  6  7
0 -1 -1 -1 -1 -1 -1 -1 -1
1 -1 -1 -1 -1 -1 -1 -1 -1
2 -1 -1  0  1 -1  1 -1 -1
3 -1 -1  0  0  1  1 -1 -1
4 -1 -1  0  1  1  1 -1 -1
5 -1  0 -1  1  1  1  1 -1
6 -1 -1 -1 -1  1  0 -1 -1
7 -1 -1 -1 -1 -1 -1 -1 -1

count: 23 < win-outcome list => [0, 0, 1, 1, 0] >

   0  1  2  3  4  5  6  7
0 -1 -1 -1 -1 -1 -1 -1 -1
1 -1 -1 -1 -1 -1 -1 -1 -1
2 -1 -1 -1 -1 -1 -1 -1 -1
3 -1 -1 -1  1  0 -1 -1 -1
4 -1 -1  0  0  0  0 -1 -1
5 -1 -1 -1  1 -1 -1 -1 -1
6 -1 -1 -1 -1 -1 -1 -1 -1
7 -1 -1 -1 -1 -1 -1 -1 -1

count: 24 < win-outcome list => [1, 0] >

   0  1  2  3  4  5  6  7
0 -1 -1 -1 -1 -1 -1 -1 -1
1 -1 -1 -1 -1 -1 -1 -1 -1
2 -1 -1 -1 -1 -1 -1 -1 -1
3 -1 -1 -1  1  1  1 -1 -1
4 -1 -1 -1  1  1  0  0 -1
5 -1 -1 -1  1  1  1 -1 -1
6 -1 -1 -1 -1 -1 -1 -1 -1
7 -1 -1 -1 -1 -1 -1 -1 -1

count: 25 < win-outcome list => [0, 1, 1, 0, 1] >

   0  1  2  3  4  5  6  7
0 -1 -1 -1 -1 -1 -1 -1 -1
1 -1 -1 -1 -1 -1 -1 -1 -1
2 -1 -1 -1 -1  0 -1 -1 -1
3 -1 -1 -1  1  0  1 -1 -1
4 -1 -1 -1  0  0  0 -1 -1
5 -1 -1 -1 -1 -1 -1 -1 -1
6 -1 -1 -1 -1 -1 -1 -1 -1
7 -1 -1 -1 -1 -1 -1 -1 -1

count: 26 < win-outcome list => [0, 0] >

   0  1  2  3  4  5  6  7
0 -1 -1 -1 -1 -1 -1 -1 -1
1 -1 -1 -1 -1 -1 -1 -1 -1
2 -1 -1 -1 -1 -1  0 -1 -1
3 -1 -1 -1  1  0  0 -1 -1
4 -1 -1 -1  0  1  0 -1 -1
5 -1 -1 -1 -1 -1  1 -1 -1
6 -1 -1 -1 -1 -1 -1 -1 -1
7 -1 -1 -1 -1 -1 -1 -1 -1

count: 27 < win-outcome list => [0, 1] >

   0  1  2  3  4  5  6  7
0 -1 -1  0  0  0  0  0 -1
1 -1  1  1  0  0  0 -1  1
2 -1  1  1  1  0  0  0  0
3  1  1  1  0  0  1  0  0
4  1  1  0  0  1  0  0  0
5 -1  0  0  1  0  1  0  0
6  0 -1  0  0  0  0  1  0
7 -1  1  1  1  1  1  1  1

count: 28 < win-outcome list => [1, 1] >

   0  1  2  3  4  5  6  7
0 -1 -1 -1 -1 -1 -1 -1 -1
1 -1 -1 -1 -1 -1 -1 -1 -1
2 -1 -1  0  1 -1 -1 -1 -1
3 -1 -1  0  0  0  1 -1 -1
4 -1 -1 -1  1  0  0 -1 -1
5 -1 -1 -1  1 -1  0 -1 -1
6 -1 -1 -1 -1 -1 -1 -1 -1
7 -1 -1 -1 -1 -1 -1 -1 -1

count: 29 < win-outcome list => [2, 0, 0, 1, 0, 1, 1, 0, 1] >

   0  1  2  3  4  5  6  7
0 -1 -1 -1 -1 -1 -1 -1 -1
1 -1 -1 -1 -1 -1 -1 -1 -1
2 -1 -1 -1 -1 -1 -1 -1 -1
3 -1 -1 -1  1  1  1 -1 -1
4 -1 -1 -1  1  1  1 -1 -1
5 -1 -1  0  0  0  0  0 -1
6 -1 -1 -1  1  0 -1 -1 -1
7 -1 -1 -1 -1 -1 -1 -1 -1

count: 30 < win-outcome list => [1, 1] >

   0  1  2  3  4  5  6  7
0 -1 -1 -1 -1 -1 -1 -1 -1
1 -1 -1  0  0  0  0 -1 -1
2 -1  1  1  0  1  1 -1 -1
3  1  1  0  0  1  1 -1 -1
4 -1  0  0  0  1  1 -1 -1
5 -1 -1  1  1 -1  1 -1 -1
6 -1 -1 -1 -1 -1 -1 -1 -1
7 -1 -1 -1 -1 -1 -1 -1 -1

count: 31 < win-outcome list => [1, 1] >

   0  1  2  3  4  5  6  7
0 -1 -1 -1 -1 -1 -1 -1 -1
1 -1 -1  0  1 -1 -1 -1 -1
2 -1  0  1  1 -1 -1 -1 -1
3  0  1  1  1  1  1 -1 -1
4  0  0  1  1  1  1  1 -1
5  0  0  0  0  0 -1 -1 -1
6  0 -1  0 -1 -1 -1 -1 -1
7 -1 -1 -1 -1 -1 -1 -1 -1

count: 32 < win-outcome list => [0, 0] >

   0  1  2  3  4  5  6  7
0 -1 -1 -1 -1 -1 -1 -1 -1
1 -1 -1  0  0 -1 -1 -1 -1
2 -1  1  0  0  1 -1 -1 -1
3  1  1  1  1  1  1 -1 -1
4 -1 -1  1  0  0  0 -1 -1
5 -1 -1  1  1 -1 -1 -1 -1
6 -1 -1 -1 -1 -1 -1 -1 -1
7 -1 -1 -1 -1 -1 -1 -1 -1

count: 33 < win-outcome list => [1, 1] >

   0  1  2  3  4  5  6  7
0 -1 -1  0  0  0  0  0 -1
1 -1  1  1  0  0  0 -1 -1
2 -1  1  1  1  0  1  0 -1
3 -1  0  1  0  0  0  0  0
4 -1  0  0  0  0  0  0 -1
5 -1  0  1  1  1  1  1 -1
6 -1 -1 -1 -1  1  0 -1 -1
7 -1 -1 -1 -1 -1 -1 -1 -1

count: 34 < win-outcome list => [1, 1] >

   0  1  2  3  4  5  6  7
0 -1 -1 -1 -1 -1 -1 -1 -1
1 -1 -1 -1 -1 -1 -1 -1 -1
2 -1 -1 -1 -1 -1 -1 -1 -1
3 -1 -1 -1  1  1  1 -1 -1
4 -1 -1 -1  1  1  0  0 -1
5 -1 -1 -1  1  0  1 -1 -1
6 -1 -1 -1  0 -1 -1 -1 -1
7 -1 -1 -1 -1 -1 -1 -1 -1

count: 35 < win-outcome list => [1, 0, 1] >

   0  1  2  3  4  5  6  7
0 -1 -1  0  0  0  0  0 -1
1 -1 -1  0  0  0  0 -1 -1
2 -1  1  0  1  0  1  0 -1
3 -1 -1  0  0  1  1  1 -1
4 -1 -1  0  1  1  1 -1 -1
5 -1  0 -1  1  1  1  1 -1
6 -1 -1 -1 -1  1  0 -1 -1
7 -1 -1 -1 -1 -1 -1 -1 -1

count: 36 < win-outcome list => [0, 0] >

   0  1  2  3  4  5  6  7
0 -1 -1 -1 -1 -1 -1 -1 -1
1 -1 -1 -1 -1 -1 -1 -1 -1
2 -1 -1  0  1 -1 -1 -1 -1
3 -1 -1  0  0  0  1 -1 -1
4 -1 -1  0  0  0  0 -1 -1
5 -1 -1 -1  1 -1 -1 -1 -1
6 -1 -1 -1 -1 -1 -1 -1 -1
7 -1 -1 -1 -1 -1 -1 -1 -1

count: 37 < win-outcome list => [0, 1, 2, 1, 1, 0] >

   0  1  2  3  4  5  6  7
0 -1 -1 -1 -1 -1 -1 -1 -1
1 -1 -1  0  1 -1 -1 -1 -1
2 -1  1  1  1 -1 -1 -1 -1
3 -1  1  0  1  1  1 -1 -1
4 -1 -1  0  0  0  0 -1 -1
5 -1 -1  0  0  0 -1 -1 -1
6 -1 -1 -1 -1 -1 -1 -1 -1
7 -1 -1 -1 -1 -1 -1 -1 -1

count: 38 < win-outcome list => [0, 0] >

   0  1  2  3  4  5  6  7
0 -1 -1 -1 -1 -1 -1 -1 -1
1 -1 -1 -1 -1 -1 -1 -1 -1
2 -1 -1 -1 -1 -1 -1 -1 -1
3 -1 -1  0  0  0 -1 -1 -1
4 -1 -1 -1  1  0  0 -1 -1
5 -1 -1 -1  1 -1 -1 -1 -1
6 -1 -1 -1 -1 -1 -1 -1 -1
7 -1 -1 -1 -1 -1 -1 -1 -1

count: 39 < win-outcome list => [1, 2, 0, 1, 0, 0, 2, 1, 0, 1, 1, 1, 1, 0, 0, 1] >

   0  1  2  3  4  5  6  7
0 -1 -1  0  0  0  0  0 -1
1 -1 -1  1  0  0  0 -1 -1
2 -1  1  0  1  0  1  0 -1
3 -1  0  0  0  1  1  1 -1
4 -1  0  0  1  1  1 -1 -1
5 -1  0 -1  1  1  1  1 -1
6 -1 -1 -1 -1  1  0 -1 -1
7 -1 -1 -1 -1 -1 -1 -1 -1

count: 40 < win-outcome list => [1, 1] >

   0  1  2  3  4  5  6  7
0 -1 -1 -1 -1 -1 -1 -1 -1
1 -1 -1 -1 -1 -1 -1 -1 -1
2 -1 -1 -1 -1 -1 -1 -1 -1
3 -1 -1 -1  1  1  1 -1 -1
4 -1 -1 -1  0  0  0 -1 -1
5 -1 -1 -1 -1 -1 -1 -1 -1
6 -1 -1 -1 -1 -1 -1 -1 -1
7 -1 -1 -1 -1 -1 -1 -1 -1

count: 41 < win-outcome list => [0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0] >

   0  1  2  3  4  5  6  7
0 -1 -1 -1 -1 -1 -1 -1 -1
1 -1 -1 -1 -1 -1 -1 -1 -1
2 -1 -1 -1 -1 -1  0 -1 -1
3 -1 -1 -1  1  0  0 -1 -1
4 -1 -1 -1  1  0  0 -1 -1
5 -1 -1 -1  1  1  1 -1 -1
6 -1 -1 -1 -1 -1 -1 -1 -1
7 -1 -1 -1 -1 -1 -1 -1 -1

count: 42 < win-outcome list => [0, 1] >

   0  1  2  3  4  5  6  7
0 -1 -1  0  0  0  0  0 -1
1 -1  1  1  0  0  0 -1 -1
2 -1  1  1  1  0  1  0 -1
3 -1  1  1  0  0  0  0  0
4  1  0  1  0  0  0  0 -1
5 -1  1  1  0  0  1  0 -1
6 -1 -1  1  1  1  0 -1  0
7 -1 -1 -1 -1  1 -1  0 -1

count: 43 < win-outcome list => [1, 1] >

   0  1  2  3  4  5  6  7
0 -1 -1 -1 -1 -1 -1 -1 -1
1 -1 -1 -1 -1 -1 -1 -1 -1
2 -1 -1  0  1 -1  1 -1 -1
3 -1 -1  0  0  1  1 -1 -1
4 -1 -1 -1  0  1  1  1 -1
5 -1 -1  0  0  0  1 -1 -1
6 -1 -1 -1 -1  1  0 -1 -1
7 -1 -1 -1 -1 -1 -1 -1 -1

count: 44 < win-outcome list => [2, 1] >

   0  1  2  3  4  5  6  7
0 -1 -1  1 -1  0 -1 -1 -1
1  1 -1  1  0 -1 -1 -1 -1
2 -1  1  1  1 -1  0 -1 -1
3  0  0  1  1  0  1 -1 -1
4  0  0  1  0  1  1  1 -1
5  0  0  0  0  0 -1 -1 -1
6  0 -1  0 -1 -1 -1 -1 -1
7 -1 -1 -1 -1 -1 -1 -1 -1

count: 45 < win-outcome list => [0, 0] >

   0  1  2  3  4  5  6  7
0 -1 -1 -1 -1 -1 -1 -1 -1
1 -1 -1 -1 -1 -1 -1 -1 -1
2 -1 -1 -1 -1 -1 -1 -1 -1
3 -1 -1 -1  1  0 -1 -1 -1
4 -1 -1 -1  0  0  0 -1 -1
5 -1 -1 -1 -1 -1 -1 -1 -1
6 -1 -1 -1 -1 -1 -1 -1 -1
7 -1 -1 -1 -1 -1 -1 -1 -1

count: 46 < win-outcome list => [0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 2, 0, 2, 1, 1, 1, 1, 0, 0, 0, 2, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0] >

   0  1  2  3  4  5  6  7
0 -1 -1  0  0  0  0  0 -1
1 -1  1  1  0  0  0 -1  1
2 -1  1  1  1  0  1  1 -1
3 -1  1  1  0  0  1  0  0
4  1  0  0  0  1  0  0  0
5 -1  0  1  1  0  0  0  0
6  0 -1  1  0  0  1 -1  0
7 -1  1 -1  0  0  0  0 -1

count: 47 < win-outcome list => [1, 1] >

   0  1  2  3  4  5  6  7
0 -1 -1 -1 -1 -1 -1 -1 -1
1 -1 -1 -1 -1 -1 -1 -1 -1
2 -1 -1 -1 -1 -1  0 -1 -1
3 -1 -1 -1  1  1  0 -1 -1
4 -1 -1 -1  1  1  0  0 -1
5 -1 -1 -1  1  1  1 -1 -1
6 -1 -1 -1  0  1 -1 -1 -1
7 -1 -1 -1 -1 -1 -1 -1 -1

count: 48 < win-outcome list => [1, 0] >

   0  1  2  3  4  5  6  7
0  0  0  0  0  0  0  0  0
1  0  0  1  1  1  1  1  0
2  0  0  0  0  0  1  1  0
3  1  0  1  0  0  1  1  0
4  1  1  0  1  1  0  1  0
5  1  1  1  1  0  1  1  0
6  1  1  0  0  0  0  1  0
7  1  1  1  1  1  1  1  1

count: 49 < win-outcome list => [1, 1] >

   0  1  2  3  4  5  6  7
0 -1 -1 -1 -1 -1 -1 -1 -1
1 -1 -1 -1 -1  1 -1 -1 -1
2 -1 -1  0  0  1  1 -1 -1
3 -1 -1  0  0  1  1 -1 -1
4 -1 -1  0  1  1  1 -1 -1
5 -1  0 -1  1  1  1  1 -1
6 -1 -1 -1 -1  1  0 -1 -1
7 -1 -1 -1 -1 -1 -1 -1 -1

count: 50 < win-outcome list => [0, 0, 1, 1, 0] >

   0  1  2  3  4  5  6  7
0 -1 -1  0  0  0  0  0 -1
1 -1  1  1  0  0  0 -1 -1
2 -1  1  1  1  0  1  0 -1
3 -1  0  1  0  0  0  0  0
4 -1  0  0  0  0  0  0 -1
5 -1  0  1  1  1  1  0 -1
6 -1 -1 -1 -1  1  1 -1  0
7 -1 -1 -1 -1  1 -1 -1 -1

count: 51 < win-outcome list => [1, 1] >

   0  1  2  3  4  5  6  7
0 -1 -1 -1 -1 -1 -1 -1 -1
1 -1 -1  0  0 -1  0 -1 -1
2 -1  1  1  1  1  1 -1 -1
3  1  1  0  0  1  1 -1 -1
4 -1  0  0  0  1  1 -1 -1
5 -1 -1  1  1 -1  1 -1 -1
6 -1 -1 -1 -1 -1 -1 -1 -1
7 -1 -1 -1 -1 -1 -1 -1 -1

count: 52 < win-outcome list => [1, 1] >

   0  1  2  3  4  5  6  7
0 -1 -1  0  0  0  0  0 -1
1 -1  1  1  0  0  0 -1  1
2 -1  1  1  1  0  1  1 -1
3 -1  1  1  0  0  1  0  0
4  1  0  1  0  1  0  0  0
5 -1  1  1  1  0  1  0  0
6 -1 -1  1  1  1  0 -1  0
7 -1 -1 -1 -1  1 -1  0 -1

count: 53 < win-outcome list => [1, 1] >

   0  1  2  3  4  5  6  7
0 -1 -1 -1 -1 -1  0 -1 -1
1 -1 -1 -1 -1  0 -1 -1 -1
2 -1 -1  0  0  1  1 -1 -1
3 -1 -1  0  0  1  1 -1 -1
4 -1 -1  0  1  1  1 -1 -1
5 -1  0 -1  1  1  1  1 -1
6 -1 -1 -1 -1  1  0 -1 -1
7 -1 -1 -1 -1 -1 -1 -1 -1

count: 54 < win-outcome list => [0, 0, 1, 1, 0] >

   0  1  2  3  4  5  6  7
0 -1 -1  0  0  0  0  0 -1
1 -1 -1  1  1  0  0 -1 -1
2 -1  1  1  1  0  1  0 -1
3 -1 -1  0  0  1  1  1 -1
4 -1  0  0  1  1  1 -1 -1
5 -1  0 -1  1  1  1  1 -1
6 -1 -1 -1 -1  1  0 -1 -1
7 -1 -1 -1 -1 -1 -1 -1 -1

count: 55 < win-outcome list => [1, 1] >

   0  1  2  3  4  5  6  7
0 -1 -1 -1 -1 -1 -1 -1 -1
1 -1 -1  0  1 -1 -1 -1 -1
2 -1  1  1  1 -1 -1 -1 -1
3 -1  1  1  1  1  1 -1 -1
4  0  1  0  0  0  0 -1 -1
5  1 -1  0  0  0 -1 -1 -1
6 -1 -1 -1 -1 -1 -1 -1 -1
7 -1 -1 -1 -1 -1 -1 -1 -1

count: 56 < win-outcome list => [0, 0] >

   0  1  2  3  4  5  6  7
0  0  0  0  0  0  0  0  0
1 -1  0  0  1  1  1  1  0
2 -1  1  0  0  0  1  1  0
3  1  1  1  0  0  1  1  0
4  1  1  0  1  1  0  1  0
5  1  1  1  1  0  1  1  0
6  1  1  0  0  0  0  1  0
7  1  1  1  1  1  1  1  1

count: 57 < win-outcome list => [1, 1] >

   0  1  2  3  4  5  6  7
0 -1 -1 -1 -1 -1 -1 -1 -1
1 -1 -1 -1 -1 -1 -1 -1 -1
2 -1 -1  0  0  0  1 -1 -1
3 -1 -1  0  0  1  1 -1 -1
4 -1 -1  0  1  1  1 -1 -1
5 -1  0 -1  1  1  1  1 -1
6 -1 -1 -1 -1  1  0 -1 -1
7 -1 -1 -1 -1 -1 -1 -1 -1

count: 58 < win-outcome list => [0, 0, 1, 1, 0] >

   0  1  2  3  4  5  6  7
0 -1  0  0  0  0  0  0  0
1 -1  1  0  1  1  1  1  0
2 -1  1  1  0  0  1  1  0
3  1  1  1  0  0  1  1  0
4  1  1  0  1  1  0  1  0
5  1  1  1  1  0  1  1  0
6  1  1  0  0  0  0  1  0
7  1  1  1  1  1  1  1  1

count: 59 < win-outcome list => [1, 1] >

   0  1  2  3  4  5  6  7
0 -1 -1  0  0  0  0  0 -1
1 -1  1  1  0  0  0 -1 -1
2 -1  1  1  1  0  1  0 -1
3 -1  0  1  0  0  0  0  0
4 -1  0  1  1  1  1 -1 -1
5 -1  0  1  1  1  1  1 -1
6 -1 -1 -1 -1  1  0 -1 -1
7 -1 -1 -1 -1 -1 -1 -1 -1

count: 60 < win-outcome list => [1, 1] >

   0  1  2  3  4  5  6  7
0 -1 -1 -1 -1 -1 -1 -1 -1
1 -1 -1 -1 -1 -1 -1 -1 -1
2 -1 -1 -1 -1 -1 -1 -1 -1
3 -1 -1 -1  1  1  1 -1 -1
4 -1 -1 -1  1  1  0  0 -1
5 -1 -1 -1  1  1  1 -1 -1
6 -1 -1 -1  0  1 -1 -1 -1
7 -1 -1 -1 -1 -1 -1 -1 -1

count: 61 < win-outcome list => [1, 0, 1] >

   0  1  2  3  4  5  6  7
0 -1 -1 -1 -1 -1 -1 -1 -1
1 -1 -1  0  0 -1 -1 -1 -1
2 -1  1  0  0  1 -1 -1 -1
3 -1  0  0  0  0  1 -1 -1
4 -1 -1  1  0  0  0 -1 -1
5 -1 -1  1  1 -1 -1 -1 -1
6 -1 -1 -1 -1 -1 -1 -1 -1
7 -1 -1 -1 -1 -1 -1 -1 -1

count: 62 < win-outcome list => [2, 1, 1] >

   0  1  2  3  4  5  6  7
0 -1 -1  0  0  0  0  0 -1
1 -1  1  1  0  0  0 -1 -1
2 -1  1  1  1  0  1  0 -1
3 -1  1  1  0  0  0  0  0
4  1  0  1  0  0  0  0 -1
5 -1  1  1  0  0  1  1  1
6 -1 -1  1  1  1  0 -1  0
7 -1 -1 -1 -1  1 -1  0 -1

count: 63 < win-outcome list => [1, 1] >

   0  1  2  3  4  5  6  7
0 -1 -1 -1 -1 -1 -1 -1 -1
1 -1 -1 -1 -1 -1 -1 -1 -1
2 -1 -1 -1 -1 -1 -1 -1 -1
3 -1 -1 -1  1  1  1 -1 -1
4 -1 -1 -1  1  1  1 -1 -1
5 -1 -1  0  0  1  0  0 -1
6 -1 -1 -1  1  1 -1 -1 -1
7 -1 -1 -1 -1  1 -1 -1 -1

count: 64 < win-outcome list => [1, 1] >

   0  1  2  3  4  5  6  7
0 -1 -1 -1 -1 -1 -1 -1 -1
1 -1 -1 -1 -1 -1 -1 -1 -1
2 -1 -1 -1 -1  0 -1 -1 -1
3 -1 -1 -1  1  0  1 -1 -1
4 -1 -1 -1  1  0  1 -1 -1
5 -1 -1  0  0  0  0  0 -1
6 -1 -1 -1  1  0 -1 -1 -1
7 -1 -1 -1 -1  1  1  1 -1

count: 65 < win-outcome list => [1, 1] >

   0  1  2  3  4  5  6  7
0 -1 -1 -1 -1 -1 -1 -1 -1
1 -1 -1 -1 -1 -1 -1 -1 -1
2 -1 -1 -1 -1  0 -1 -1 -1
3 -1 -1 -1  1  0  1 -1 -1
4 -1 -1 -1  1  1  1 -1 -1
5 -1 -1 -1  1  1  1 -1 -1
6 -1 -1 -1 -1 -1 -1 -1 -1
7 -1 -1 -1 -1 -1 -1 -1 -1

count: 66 < win-outcome list => [0, 0] >

   0  1  2  3  4  5  6  7
0 -1 -1 -1 -1 -1 -1 -1 -1
1 -1 -1 -1 -1 -1 -1 -1 -1
2 -1 -1 -1 -1  1  0 -1 -1
3 -1 -1  1  1  1  0 -1 -1
4 -1 -1  0  0  1  0 -1 -1
5 -1 -1  0  1  1  1 -1 -1
6 -1 -1 -1 -1 -1 -1 -1 -1
7 -1 -1 -1 -1 -1 -1 -1 -1

count: 67 < win-outcome list => [0, 1] >

   0  1  2  3  4  5  6  7
0 -1 -1 -1 -1 -1 -1 -1 -1
1 -1 -1  0  0 -1  0 -1 -1
2 -1  1  0  0  0 -1 -1 -1
3  1  1  0  0  1  1 -1 -1
4 -1  0  0  0  1  1 -1 -1
5 -1 -1  1  1 -1  1 -1 -1
6 -1 -1 -1 -1 -1 -1 -1 -1
7 -1 -1 -1 -1 -1 -1 -1 -1

count: 68 < win-outcome list => [1, 1] >

   0  1  2  3  4  5  6  7
0 -1 -1  0  0  0  0 -1 -1
1 -1 -1 -1  1  1  1 -1 -1
2 -1 -1  0  1  1  1  0 -1
3 -1 -1  0  1  1  1  1 -1
4 -1 -1  0  1  1  1 -1 -1
5 -1  0 -1  1  1  1  1 -1
6 -1 -1 -1 -1  1  0 -1 -1
7 -1 -1 -1 -1 -1 -1 -1 -1

count: 69 < win-outcome list => [0, 0, 1, 1] >

   0  1  2  3  4  5  6  7
0 -1 -1 -1 -1 -1 -1 -1 -1
1 -1 -1  0  1 -1 -1 -1 -1
2 -1  1  1  1 -1 -1 -1 -1
3 -1  1  0  1  1  1 -1 -1
4 -1 -1  0  0  0  0 -1 -1
5 -1 -1  0  1 -1 -1 -1 -1
6 -1 -1 -1 -1 -1 -1 -1 -1
7 -1 -1 -1 -1 -1 -1 -1 -1

count: 70 < win-outcome list => [0, 1, 0] >

   0  1  2  3  4  5  6  7
0 -1 -1 -1 -1 -1 -1 -1 -1
1 -1 -1 -1 -1 -1 -1 -1 -1
2 -1 -1 -1 -1 -1 -1 -1 -1
3 -1 -1 -1  1  0 -1 -1 -1
4 -1 -1 -1  1  1  1  1 -1
5 -1 -1 -1  1  0  1 -1 -1
6 -1 -1 -1  0  0  1 -1 -1
7 -1 -1 -1 -1 -1 -1 -1 -1

count: 71 < win-outcome list => [1, 1] >

   0  1  2  3  4  5  6  7
0 -1 -1 -1 -1 -1 -1 -1 -1
1 -1 -1 -1 -1 -1 -1 -1 -1
2 -1 -1 -1 -1 -1 -1 -1 -1
3 -1 -1 -1  1  1  1 -1 -1
4 -1 -1 -1  0  0  0  0 -1
5 -1 -1 -1 -1  0  1 -1 -1
6 -1 -1 -1 -1 -1 -1 -1 -1
7 -1 -1 -1 -1 -1 -1 -1 -1

count: 72 < win-outcome list => [0, 1, 1, 0, 0, 1] >

   0  1  2  3  4  5  6  7
0 -1 -1 -1 -1 -1 -1 -1 -1
1 -1 -1 -1 -1 -1 -1 -1 -1
2 -1 -1 -1 -1 -1 -1 -1 -1
3 -1 -1 -1  1  0 -1 -1 -1
4 -1 -1 -1  0  1 -1 -1 -1
5 -1 -1 -1 -1 -1 -1 -1 -1
6 -1 -1 -1 -1 -1 -1 -1 -1
7 -1 -1 -1 -1 -1 -1 -1 -1

count: 73 < win-outcome list => [0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 2, 0, 2, 1, 1, 1, 1, 0, 0, 0, 2, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0] >

   0  1  2  3  4  5  6  7
0 -1 -1 -1 -1 -1 -1 -1 -1
1 -1 -1 -1 -1 -1 -1 -1 -1
2 -1 -1 -1  0 -1 -1 -1 -1
3 -1 -1  1  1  1  1 -1 -1
4 -1 -1 -1  0  0  0 -1 -1
5 -1 -1 -1 -1 -1 -1 -1 -1
6 -1 -1 -1 -1 -1 -1 -1 -1
7 -1 -1 -1 -1 -1 -1 -1 -1

count: 74 < win-outcome list => [0, 0] >

   0  1  2  3  4  5  6  7
0 -1 -1 -1 -1 -1 -1 -1 -1
1 -1 -1 -1 -1 -1 -1 -1 -1
2 -1 -1  0  1 -1  1 -1 -1
3 -1 -1  0  0  1  1 -1 -1
4 -1 -1 -1  0  1  0 -1 -1
5 -1 -1 -1  1  1  0 -1 -1
6 -1 -1 -1 -1  1 -1 -1 -1
7 -1 -1 -1 -1 -1 -1 -1 -1

count: 75 < win-outcome list => [2, 0, 0, 1, 1, 0, 1] >

   0  1  2  3  4  5  6  7
0 -1 -1 -1  1 -1  0 -1 -1
1 -1 -1 -1 -1  1 -1 -1 -1
2 -1 -1  0  0  0  1  0 -1
3 -1 -1  0  0  1  1  1 -1
4 -1 -1  0  1  1  1 -1 -1
5 -1  0 -1  1  1  1  1 -1
6 -1 -1 -1 -1  1  0 -1 -1
7 -1 -1 -1 -1 -1 -1 -1 -1

count: 76 < win-outcome list => [0, 0, 1, 1] >

   0  1  2  3  4  5  6  7
0 -1 -1 -1 -1 -1 -1 -1 -1
1 -1 -1  0  0  0  0 -1 -1
2 -1  1  1  0  1  1 -1 -1
3  1  1  1  0  1  1 -1 -1
4 -1  0  0  1  1  1 -1 -1
5 -1 -1  1  1  1  1 -1 -1
6 -1 -1 -1 -1 -1 -1 -1 -1
7 -1 -1 -1 -1 -1 -1 -1 -1

count: 77 < win-outcome list => [1, 1] >

   0  1  2  3  4  5  6  7
0 -1 -1 -1 -1 -1 -1 -1 -1
1 -1 -1 -1 -1 -1 -1 -1 -1
2 -1 -1 -1 -1  0 -1 -1 -1
3 -1 -1 -1  1  0  1 -1 -1
4 -1 -1 -1  1  1  0 -1 -1
5 -1 -1 -1  1 -1 -1 -1 -1
6 -1 -1 -1 -1 -1 -1 -1 -1
7 -1 -1 -1 -1 -1 -1 -1 -1

count: 78 < win-outcome list => [0, 0] >

   0  1  2  3  4  5  6  7
0 -1 -1 -1 -1 -1 -1 -1 -1
1 -1 -1 -1 -1 -1 -1 -1 -1
2 -1 -1  0  1 -1 -1 -1 -1
3 -1 -1  0  0  0  1 -1 -1
4 -1 -1 -1  1  1  1  1 -1
5 -1 -1 -1  1 -1  0 -1 -1
6 -1 -1 -1 -1 -1 -1 -1 -1
7 -1 -1 -1 -1 -1 -1 -1 -1

count: 79 < win-outcome list => [0, 1] >

   0  1  2  3  4  5  6  7
0 -1 -1 -1 -1 -1 -1 -1 -1
1 -1 -1 -1 -1 -1 -1 -1 -1
2 -1 -1  0  1 -1 -1 -1 -1
3 -1 -1  0  0  0  1 -1 -1
4 -1 -1 -1  1  1  0 -1 -1
5 -1 -1 -1  1 -1 -1 -1 -1
6 -1 -1 -1 -1 -1 -1 -1 -1
7 -1 -1 -1 -1 -1 -1 -1 -1

count: 80 < win-outcome list => [2, 0, 1, 0, 0, 2, 1, 0, 1, 1, 1, 1, 0, 0, 1] >

   0  1  2  3  4  5  6  7
0 -1 -1  0  0  0  0  0 -1
1 -1  1  1  0  0  0 -1 -1
2 -1  1  1  1  0  1  0 -1
3 -1  1  1  0  0  0  0  0
4  1  0  1  0  0  0  0  0
5 -1  1  1  0  0  1  0  0
6 -1 -1  1  1  1  0 -1  0
7 -1 -1 -1 -1  1 -1  0 -1

count: 81 < win-outcome list => [1, 1] >

   0  1  2  3  4  5  6  7
0 -1 -1 -1  1  0  0 -1 -1
1 -1 -1 -1 -1  0 -1 -1 -1
2 -1 -1  0  0  0  1  0 -1
3 -1 -1  0  0  1  1  1 -1
4 -1 -1  0  1  1  1 -1 -1
5 -1  0 -1  1  1  1  1 -1
6 -1 -1 -1 -1  1  0 -1 -1
7 -1 -1 -1 -1 -1 -1 -1 -1

count: 82 < win-outcome list => [0, 0, 1, 1] >

   0  1  2  3  4  5  6  7
0 -1 -1  0  0  0  0  0 -1
1 -1  1  1  0  0  0 -1  1
2 -1  1  1  1  0  1  1 -1
3  1  1  1  0  0  1  0  0
4  1  1  0  0  1  0  0  0
5 -1  0  0  1  0  0  0  0
6  0 -1  0  0  0  0  0  0
7 -1  1  0  0  0  0  0 -1

count: 83 < win-outcome list => [1, 1] >

   0  1  2  3  4  5  6  7
0  0  0  0  0  0  0  0  0
1  1  1  1  1  1  1  1  0
2 -1  1  0  0  0  1  1  0
3  1  1  1  0  0  1  1  0
4  1  1  0  1  1  0  1  0
5  1  1  1  1  0  1  1  0
6  1  1  0  0  0  0  1  0
7  1  1  1  1  1  1  1  1

count: 84 < win-outcome list => [1, 1] >

   0  1  2  3  4  5  6  7
0 -1 -1 -1 -1 -1 -1 -1 -1
1 -1 -1  0  0 -1 -1 -1 -1
2 -1  1  1  0  1 -1 -1 -1
3 -1 -1  1  0  0  1 -1 -1
4 -1 -1  1  0  0  0 -1 -1
5 -1 -1  1  1 -1 -1 -1 -1
6 -1 -1 -1 -1 -1 -1 -1 -1
7 -1 -1 -1 -1 -1 -1 -1 -1

count: 85 < win-outcome list => [2, 1, 1] >

   0  1  2  3  4  5  6  7
0 -1 -1 -1 -1 -1 -1 -1 -1
1 -1 -1 -1 -1 -1 -1 -1 -1
2 -1 -1  1 -1 -1 -1 -1 -1
3 -1 -1  0  1  0 -1 -1 -1
4 -1 -1 -1  0  1  0 -1 -1
5 -1 -1 -1 -1 -1  1 -1 -1
6 -1 -1 -1 -1 -1 -1 -1 -1
7 -1 -1 -1 -1 -1 -1 -1 -1

count: 86 < win-outcome list => [0, 1] >

   0  1  2  3  4  5  6  7
0 -1 -1 -1 -1 -1 -1 -1 -1
1 -1 -1  0  0 -1 -1 -1 -1
2 -1  1  0  0  1 -1 -1 -1
3  1  1  0  1  1  1 -1 -1
4 -1  0  0  0  1  1 -1 -1
5 -1 -1  1  1 -1  1 -1 -1
6 -1 -1 -1 -1 -1 -1 -1 -1
7 -1 -1 -1 -1 -1 -1 -1 -1

count: 87 < win-outcome list => [1, 1] >

   0  1  2  3  4  5  6  7
0 -1 -1 -1  1 -1  0 -1 -1
1 -1 -1 -1 -1  1 -1 -1 -1
2 -1 -1  0  0  1  1 -1 -1
3 -1 -1  0  0  1  1 -1 -1
4 -1 -1  0  1  1  1 -1 -1
5 -1  0 -1  1  1  1  1 -1
6 -1 -1 -1 -1  1  0 -1 -1
7 -1 -1 -1 -1 -1 -1 -1 -1

count: 88 < win-outcome list => [0, 0, 1, 1] >

   0  1  2  3  4  5  6  7
0 -1 -1 -1 -1 -1 -1 -1 -1
1 -1 -1 -1 -1 -1 -1 -1 -1
2 -1 -1  0  1 -1  1 -1 -1
3 -1 -1  0  0  1  1 -1 -1
4 -1 -1 -1  0  1  1  1 -1
5 -1 -1 -1  1  0  1 -1 -1
6 -1 -1 -1 -1  1  0 -1 -1
7 -1 -1 -1 -1 -1 -1 -1 -1

count: 89 < win-outcome list => [2, 1] >

   0  1  2  3  4  5  6  7
0 -1 -1 -1 -1 -1 -1 -1 -1
1 -1 -1 -1 -1 -1 -1 -1 -1
2 -1 -1  0  1 -1  1 -1 -1
3 -1 -1  0  0  1  1 -1 -1
4 -1 -1 -1  0  0  0 -1 -1
5 -1 -1 -1  1  0  0 -1 -1
6 -1 -1 -1 -1 -1 -1 -1 -1
7 -1 -1 -1 -1 -1 -1 -1 -1

count: 90 < win-outcome list => [2, 0, 0, 1, 1, 0, 1] >

   0  1  2  3  4  5  6  7
0 -1 -1 -1 -1 -1 -1 -1 -1
1 -1 -1  0  1 -1 -1 -1 -1
2 -1  1  1  1 -1 -1 -1 -1
3 -1  1  1  1  1  1 -1 -1
4  0  1  0  0  0  0 -1 -1
5  0 -1  0  0  0 -1 -1 -1
6  0 -1 -1 -1 -1 -1 -1 -1
7 -1 -1 -1 -1 -1 -1 -1 -1

count: 91 < win-outcome list => [0, 0] >

   0  1  2  3  4  5  6  7
0 -1 -1 -1 -1 -1 -1 -1 -1
1 -1 -1 -1 -1 -1 -1 -1 -1
2 -1 -1 -1 -1 -1  0 -1 -1
3 -1 -1  1  1  0  0 -1 -1
4 -1 -1  0  0  0  0 -1 -1
5 -1 -1  0  1  1  1 -1 -1
6 -1 -1 -1 -1 -1 -1 -1 -1
7 -1 -1 -1 -1 -1 -1 -1 -1

count: 92 < win-outcome list => [0, 1] >

   0  1  2  3  4  5  6  7
0 -1 -1 -1 -1 -1 -1 -1 -1
1 -1 -1 -1 -1 -1 -1 -1 -1
2 -1 -1 -1 -1  0 -1 -1 -1
3 -1 -1 -1  1  0  1 -1 -1
4 -1 -1 -1  1  0  0 -1 -1
5 -1 -1 -1  1  0 -1 -1 -1
6 -1 -1 -1 -1 -1 -1 -1 -1
7 -1 -1 -1 -1 -1 -1 -1 -1

count: 93 < win-outcome list => [0, 0] >

   0  1  2  3  4  5  6  7
0 -1 -1 -1 -1 -1 -1 -1 -1
1 -1 -1  0  1 -1 -1 -1 -1
2 -1  1  1  1 -1 -1 -1 -1
3 -1  1  1  1  1  1 -1 -1
4  0  1  1  1  1  1  1 -1
5  0  0  0  0  0 -1 -1 -1
6  0 -1  0 -1 -1 -1 -1 -1
7 -1 -1 -1 -1 -1 -1 -1 -1

count: 94 < win-outcome list => [0, 0] >

   0  1  2  3  4  5  6  7
0 -1 -1 -1 -1 -1 -1 -1 -1
1 -1 -1  0  1 -1 -1 -1 -1
2 -1  1  1  1 -1 -1 -1 -1
3 -1  1  1  1  1  1 -1 -1
4  0  1  1  0  0  0 -1 -1
5  0  0  0  0  0 -1 -1 -1
6  0 -1  0 -1 -1 -1 -1 -1
7 -1 -1 -1 -1 -1 -1 -1 -1

count: 95 < win-outcome list => [0, 0] >

   0  1  2  3  4  5  6  7
0 -1 -1 -1 -1 -1 -1 -1 -1
1 -1 -1 -1 -1 -1 -1 -1 -1
2 -1 -1  0  1 -1  1 -1 -1
3 -1 -1  0  0  1  1 -1 -1
4 -1 -1 -1  1  0  0 -1 -1
5 -1 -1 -1  1 -1  0 -1 -1
6 -1 -1 -1 -1 -1 -1 -1 -1
7 -1 -1 -1 -1 -1 -1 -1 -1

count: 96 < win-outcome list => [2, 0, 0, 1, 1, 0, 1] >

   0  1  2  3  4  5  6  7
0 -1 -1 -1 -1 -1 -1 -1 -1
1 -1 -1 -1 -1 -1 -1 -1 -1
2 -1 -1 -1 -1 -1 -1 -1 -1
3 -1 -1 -1  1  1  1 -1 -1
4 -1 -1 -1  0  0  1 -1 -1
5 -1 -1 -1 -1  0  1 -1 -1
6 -1 -1 -1 -1 -1 -1 -1 -1
7 -1 -1 -1 -1 -1 -1 -1 -1

count: 97 < win-outcome list => [0, 1, 1, 0, 0, 1] >

   0  1  2  3  4  5  6  7
0 -1 -1 -1 -1 -1 -1 -1 -1
1 -1 -1 -1 -1 -1 -1 -1 -1
2 -1  1  1  1 -1 -1 -1 -1
3 -1 -1  0  0  0  1 -1 -1
4 -1 -1  0  0  0  0 -1 -1
5 -1 -1 -1  1 -1 -1 -1 -1
6 -1 -1 -1 -1 -1 -1 -1 -1
7 -1 -1 -1 -1 -1 -1 -1 -1

count: 98 < win-outcome list => [0, 1, 2, 1, 1, 0] >

   0  1  2  3  4  5  6  7
0 -1 -1 -1 -1 -1 -1 -1 -1
1 -1 -1  0 -1 -1 -1 -1 -1
2 -1  1  0  0 -1 -1 -1 -1
3 -1 -1  0  0  0  1 -1 -1
4 -1 -1  0  0  0  0 -1 -1
5 -1 -1 -1  1 -1 -1 -1 -1
6 -1 -1 -1 -1 -1 -1 -1 -1
7 -1 -1 -1 -1 -1 -1 -1 -1

count: 99 < win-outcome list => [0, 1, 2, 1, 1, 0] >

   0  1  2  3  4  5  6  7
0 -1 -1 -1 -1 -1 -1 -1 -1
1 -1 -1  0  0 -1 -1 -1 -1
2 -1  1  1  0  1 -1 -1 -1
3 -1 -1  0  0  0  1 -1 -1
4 -1 -1  0  0  0  0 -1 -1
5 -1 -1 -1  1 -1 -1 -1 -1
6 -1 -1 -1 -1 -1 -1 -1 -1
7 -1 -1 -1 -1 -1 -1 -1 -1

count: 100 < win-outcome list => [2, 1, 1] >

   0  1  2  3  4  5  6  7
0 -1 -1 -1 -1 -1 -1 -1 -1
1 -1 -1 -1 -1 -1 -1 -1 -1
2 -1 -1  0 -1 -1 -1 -1 -1
3 -1 -1 -1  0  1  1 -1 -1
4 -1 -1 -1  0  0  0 -1 -1
5 -1 -1 -1 -1 -1 -1 -1 -1
6 -1 -1 -1 -1 -1 -1 -1 -1
7 -1 -1 -1 -1 -1 -1 -1 -1

count: 101 < win-outcome list => [0, 0, 0, 0] >

   0  1  2  3  4  5  6  7
0 -1 -1  0  0  0  0  0 -1
1 -1 -1 -1  1  1  0 -1 -1
2 -1 -1  0  1  0  1  0 -1
3 -1 -1  0  0  1  1  1 -1
4 -1 -1  0  1  1  1 -1 -1
5 -1  0 -1  1  1  1  1 -1
6 -1 -1 -1 -1  1  0 -1 -1
7 -1 -1 -1 -1 -1 -1 -1 -1

count: 102 < win-outcome list => [0, 0, 1, 1] >

   0  1  2  3  4  5  6  7
0 -1 -1  0  0  0  0  0 -1
1 -1 -1  0  0  0  0 -1 -1
2  0  0  0  1  0  1  1  1
3 -1 -1  0  0  1  1  1 -1
4 -1 -1  0  1  1  1 -1 -1
5 -1  0 -1  1  1  1  1 -1
6 -1 -1 -1 -1  1  0 -1 -1
7 -1 -1 -1 -1 -1 -1 -1 -1

count: 103 < win-outcome list => [0, 0] >

   0  1  2  3  4  5  6  7
0 -1 -1 -1 -1 -1 -1 -1 -1
1 -1 -1 -1 -1 -1 -1 -1 -1
2 -1 -1 -1 -1 -1  0 -1 -1
3 -1 -1 -1  1  0  0 -1 -1
4 -1 -1 -1  1  0  0 -1 -1
5 -1 -1 -1  1 -1 -1 -1 -1
6 -1 -1 -1 -1 -1 -1 -1 -1
7 -1 -1 -1 -1 -1 -1 -1 -1

count: 104 < win-outcome list => [0, 1] >

   0  1  2  3  4  5  6  7
0 -1 -1  0  0  0  0  0 -1
1 -1  1  1  0  0  0 -1  1
2 -1  1  1  1  0  1  1 -1
3 -1  1  1  0  0  1  0  0
4  1  0  0  0  1  0  0  0
5 -1  0  1  1  0  1  0  0
6  0 -1  1  1  1  1 -1  0
7 -1 -1 -1 -1  1  1  0 -1

count: 105 < win-outcome list => [1, 1] >

   0  1  2  3  4  5  6  7
0 -1 -1  0  0  0  0  0 -1
1 -1  1  1  0  0  0 -1 -1
2 -1  1  1  1  0  1  0 -1
3 -1  0  0  1  1  1  1 -1
4 -1  0  0  1  1  1 -1 -1
5 -1  0 -1  1  1  1  1 -1
6 -1 -1 -1 -1  1  0 -1 -1
7 -1 -1 -1 -1 -1 -1 -1 -1

count: 106 < win-outcome list => [1, 1] >

   0  1  2  3  4  5  6  7
0 -1 -1  0  0  0  0 -1 -1
1 -1 -1 -1  1  0 -1 -1 -1
2 -1 -1  0  1  1  1  0 -1
3 -1 -1  0  1  1  1  1 -1
4 -1 -1  0  1  1  1 -1 -1
5 -1  0 -1  1  1  1  1 -1
6 -1 -1 -1 -1  1  0 -1 -1
7 -1 -1 -1 -1 -1 -1 -1 -1

count: 107 < win-outcome list => [0, 0, 1, 1] >

   0  1  2  3  4  5  6  7
0 -1 -1 -1 -1 -1 -1 -1 -1
1 -1 -1  0  1 -1 -1 -1 -1
2 -1  1  1  1 -1 -1 -1 -1
3 -1  1  1  1  1  1 -1 -1
4  0  0  0  0  0  0 -1 -1
5 -1 -1  0  0  0 -1 -1 -1
6 -1 -1 -1 -1 -1 -1 -1 -1
7 -1 -1 -1 -1 -1 -1 -1 -1

count: 108 < win-outcome list => [0, 0] >

   0  1  2  3  4  5  6  7
0 -1 -1 -1 -1 -1 -1 -1 -1
1 -1 -1 -1 -1 -1 -1 -1 -1
2 -1 -1 -1 -1 -1 -1 -1 -1
3 -1 -1 -1  1  1  1 -1 -1
4 -1 -1 -1  1  1  1 -1 -1
5 -1 -1  0  0  1  0  0 -1
6 -1 -1 -1  1  0 -1 -1 -1
7 -1 -1 -1 -1  1  0 -1 -1

count: 109 < win-outcome list => [1, 1] >

   0  1  2  3  4  5  6  7
0 -1 -1  0  0  0  0  0 -1
1 -1  1  1  0  0  0 -1  1
2 -1  1  1  1  0  1  1 -1
3 -1  1  1  0  0  1  0  0
4  1  0  0  0  1  0  0  0
5 -1  0  1  1  0  1  0  0
6  0 -1  1  1  1  0 -1  0
7 -1 -1 -1 -1  1 -1  0 -1

count: 110 < win-outcome list => [1, 1] >

   0  1  2  3  4  5  6  7
0 -1 -1 -1 -1 -1 -1 -1 -1
1 -1 -1 -1 -1 -1 -1 -1 -1
2 -1 -1 -1 -1 -1 -1 -1 -1
3 -1 -1 -1  1  0 -1 -1 -1
4 -1 -1 -1  1  0  0 -1 -1
5 -1 -1 -1  1  0  1 -1 -1
6 -1 -1 -1  0  0  1 -1 -1
7 -1 -1 -1 -1 -1 -1 -1 -1

count: 111 < win-outcome list => [1, 1] >

   0  1  2  3  4  5  6  7
0 -1 -1 -1 -1 -1 -1 -1 -1
1 -1 -1 -1 -1 -1 -1 -1 -1
2 -1 -1  0  1 -1  1 -1 -1
3 -1 -1  0  0  1  1 -1 -1
4 -1 -1 -1  0  1  0 -1 -1
5 -1 -1 -1  1  0  0 -1 -1
6 -1 -1 -1 -1  1  0 -1 -1
7 -1 -1 -1 -1 -1 -1 -1 -1

count: 112 < win-outcome list => [2, 0, 0, 1, 1, 0, 1] >

   0  1  2  3  4  5  6  7
0 -1 -1 -1 -1 -1 -1 -1 -1
1 -1 -1  0 -1 -1 -1 -1 -1
2 -1  1  0  0 -1 -1 -1 -1
3 -1  1  0  1  1  1 -1 -1
4 -1 -1  0  0  0  0 -1 -1
5 -1 -1  0  1 -1 -1 -1 -1
6 -1 -1 -1 -1 -1 -1 -1 -1
7 -1 -1 -1 -1 -1 -1 -1 -1

count: 113 < win-outcome list => [0, 1, 0] >

   0  1  2  3  4  5  6  7
0 -1 -1 -1 -1 -1 -1 -1 -1
1 -1 -1 -1 -1 -1 -1 -1 -1
2 -1 -1  0  1 -1  1 -1 -1
3 -1 -1  0  0  1  1 -1 -1
4 -1 -1  1  1  1  0 -1 -1
5 -1 -1 -1  1  0  0 -1 -1
6 -1 -1 -1 -1  1  0 -1 -1
7 -1 -1 -1 -1 -1 -1 -1 -1

count: 114 < win-outcome list => [0, 0, 1, 1, 0] >

   0  1  2  3  4  5  6  7
0 -1 -1  0  0  0  0  0 -1
1 -1  1  1  0  0  0 -1  1
2 -1  1  1  1  0  1  1 -1
3 -1  1  1  0  0  1  0  0
4  1  0  0  0  1  0  0  0
5 -1  0  1  0  0  0  0  0
6  0 -1  0  0  0  1 -1  0
7 -1 -1 -1  0  0  0  0 -1

count: 115 < win-outcome list => [1, 1] >

   0  1  2  3  4  5  6  7
0 -1 -1 -1 -1 -1 -1 -1 -1
1 -1 -1 -1 -1 -1 -1 -1 -1
2 -1 -1 -1 -1 -1 -1 -1 -1
3 -1 -1 -1  1  0 -1 -1 -1
4 -1 -1 -1  0  0  0 -1 -1
5 -1 -1 -1 -1  0  1 -1 -1
6 -1 -1 -1 -1 -1 -1 -1 -1
7 -1 -1 -1 -1 -1 -1 -1 -1

count: 116 < win-outcome list => [0, 2, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0] >

   0  1  2  3  4  5  6  7
0 -1 -1 -1 -1 -1 -1 -1 -1
1 -1 -1 -1 -1 -1 -1 -1 -1
2 -1 -1 -1 -1 -1 -1 -1 -1
3 -1 -1 -1  1  0 -1 -1 -1
4 -1 -1 -1  1  0  0 -1 -1
5 -1 -1 -1  1 -1 -1 -1 -1
6 -1 -1 -1 -1 -1 -1 -1 -1
7 -1 -1 -1 -1 -1 -1 -1 -1

count: 117 < win-outcome list => [1, 1, 1, 0, 1, 2, 0, 1, 0, 0, 2, 1, 0, 1, 1, 1, 1, 0, 0, 1] >

   0  1  2  3  4  5  6  7
0 -1 -1 -1 -1 -1 -1 -1 -1
1 -1 -1 -1 -1 -1 -1 -1 -1
2 -1 -1 -1 -1 -1 -1 -1 -1
3 -1 -1  0  0  0 -1 -1 -1
4 -1 -1 -1  0  1  0 -1 -1
5 -1 -1 -1 -1 -1  1 -1 -1
6 -1 -1 -1 -1 -1 -1 -1 -1
7 -1 -1 -1 -1 -1 -1 -1 -1

count: 118 < win-outcome list => [0, 1] >

   0  1  2  3  4  5  6  7
0 -1 -1 -1 -1 -1 -1 -1 -1
1 -1 -1 -1 -1 -1 -1 -1 -1
2 -1 -1 -1  1 -1 -1 -1 -1
3 -1 -1  0  1  0 -1 -1 -1
4 -1 -1 -1  1  0  0 -1 -1
5 -1 -1 -1  1 -1 -1 -1 -1
6 -1 -1 -1 -1 -1 -1 -1 -1
7 -1 -1 -1 -1 -1 -1 -1 -1

count: 119 < win-outcome list => [1, 2, 0, 1, 0, 0, 2, 1, 0, 1, 1, 1, 1, 0, 0, 1] >

   0  1  2  3  4  5  6  7
0 -1 -1 -1 -1 -1 -1 -1 -1
1 -1 -1 -1 -1 -1 -1 -1 -1
2 -1 -1 -1 -1  0 -1 -1 -1
3 -1 -1  0  0  0  1 -1 -1
4 -1 -1 -1  1  1  1 -1 -1
5 -1 -1 -1  1  1  1 -1 -1
6 -1 -1 -1 -1 -1 -1 -1 -1
7 -1 -1 -1 -1 -1 -1 -1 -1

count: 120 < win-outcome list => [0, 0] >

   0  1  2  3  4  5  6  7
0 -1 -1 -1 -1 -1 -1 -1 -1
1 -1 -1 -1 -1 -1 -1 -1 -1
2 -1 -1 -1 -1 -1 -1 -1 -1
3 -1 -1 -1  1  0 -1 -1 -1
4 -1 -1 -1  1  0  0 -1 -1
5 -1 -1 -1  1  1  1 -1 -1
6 -1 -1 -1 -1  0  1 -1 -1
7 -1 -1 -1 -1 -1 -1 -1 -1

count: 121 < win-outcome list => [1, 1] >

   0  1  2  3  4  5  6  7
0 -1 -1 -1 -1 -1 -1 -1 -1
1 -1 -1  0 -1 -1 -1 -1 -1
2 -1  1  1  1  1 -1 -1 -1
3 -1 -1  0  0  0  1 -1 -1
4 -1 -1  0  0  0  0 -1 -1
5 -1 -1 -1  1 -1 -1 -1 -1
6 -1 -1 -1 -1 -1 -1 -1 -1
7 -1 -1 -1 -1 -1 -1 -1 -1

count: 122 < win-outcome list => [2, 1, 1] >

   0  1  2  3  4  5  6  7
0 -1 -1 -1 -1 -1 -1 -1 -1
1 -1 -1 -1 -1 -1 -1 -1 -1
2 -1 -1 -1 -1 -1 -1 -1 -1
3 -1 -1 -1  1  1  1 -1 -1
4 -1 -1 -1  1  1  1 -1 -1
5 -1 -1 -1  1  0  1 -1 -1
6 -1 -1 -1 -1  0 -1 -1 -1
7 -1 -1 -1 -1 -1 -1 -1 -1

count: 123 < win-outcome list => [2, 0, 1, 1] >

   0  1  2  3  4  5  6  7
0 -1 -1  0  0  0  0  0 -1
1 -1  1  1  0  0  0 -1 -1
2 -1  1  1  1  0  1  0 -1
3 -1  1  1  0  0  0  0  0
4  1  0  0  0  0  0  0 -1
5 -1  0  1  1  1  1  0 -1
6 -1 -1 -1 -1  1  1 -1  0
7 -1 -1 -1 -1  1 -1 -1 -1

count: 124 < win-outcome list => [1, 1] >

   0  1  2  3  4  5  6  7
0 -1 -1 -1 -1 -1 -1 -1 -1
1 -1 -1 -1 -1 -1 -1 -1 -1
2 -1 -1  0  1 -1  1 -1 -1
3 -1 -1  0  0  1  1 -1 -1
4 -1 -1  0  1  1  0 -1 -1
5 -1  0 -1  1  0  0 -1 -1
6 -1 -1 -1 -1  1  0 -1 -1
7 -1 -1 -1 -1 -1 -1 -1 -1

count: 125 < win-outcome list => [0, 0, 1, 1, 0] >

   0  1  2  3  4  5  6  7
0 -1 -1 -1 -1 -1 -1 -1 -1
1 -1 -1 -1 -1 -1 -1 -1 -1
2 -1 -1  0  1 -1 -1 -1 -1
3 -1 -1  0  0  0 -1 -1 -1
4 -1 -1 -1  1  0  0 -1 -1
5 -1 -1 -1  1 -1 -1 -1 -1
6 -1 -1 -1 -1 -1 -1 -1 -1
7 -1 -1 -1 -1 -1 -1 -1 -1

count: 126 < win-outcome list => [2, 0, 1, 0, 0, 2, 1, 0, 1, 1, 1, 1, 0, 0, 1] >

   0  1  2  3  4  5  6  7
0 -1 -1  0  0  0  0  0  0
1 -1  1  1  1  1  1  1  0
2 -1  1  1  1  0  1  1  0
3  1  1  1  0  1  1  1  0
4  1  1  0  1  1  0  1  0
5  1  1  1  1  0  1  1  0
6  1  1  0  0  0  0  1  0
7  1  1  1  1  1  1  1  1

count: 127 < win-outcome list => [1, 1] >

   0  1  2  3  4  5  6  7
0 -1 -1 -1 -1 -1 -1 -1 -1
1 -1 -1 -1 -1 -1 -1 -1 -1
2 -1 -1 -1 -1 -1 -1 -1 -1
3 -1 -1 -1  1  1  1 -1 -1
4 -1 -1 -1  1  1  0  0 -1
5 -1 -1 -1  1  1  0 -1 -1
6 -1 -1 -1 -1 -1  0 -1 -1
7 -1 -1 -1 -1 -1 -1 -1 -1

count: 128 < win-outcome list => [0, 1] >

   0  1  2  3  4  5  6  7
0 -1 -1  0  0  0  0  0 -1
1 -1  1  1  0  0  0 -1 -1
2 -1  1  1  1  0  1  0 -1
3 -1  1  1  0  0  0  0  0
4  1  0  1  0  0  0  0 -1
5 -1  1  1  0  0  1  0 -1
6 -1 -1  1  1  1  1 -1  0
7 -1 -1 -1 -1  1 -1 -1 -1

count: 129 < win-outcome list => [1, 1] >

   0  1  2  3  4  5  6  7
0 -1 -1 -1 -1 -1 -1 -1 -1
1 -1 -1 -1 -1 -1 -1 -1 -1
2 -1 -1 -1 -1 -1 -1 -1 -1
3 -1 -1 -1  1  1  1  1 -1
4 -1 -1 -1  1  1  1  0 -1
5 -1 -1 -1  1  1  0 -1 -1
6 -1 -1 -1 -1 -1  0 -1 -1
7 -1 -1 -1 -1 -1 -1 -1 -1

count: 130 < win-outcome list => [0, 1] >

   0  1  2  3  4  5  6  7
0 -1 -1 -1 -1 -1 -1 -1 -1
1 -1 -1 -1 -1 -1 -1 -1 -1
2 -1 -1 -1 -1 -1  0 -1 -1
3 -1 -1  1  1  0  0 -1 -1
4 -1 -1 -1  1  0  0 -1 -1
5 -1 -1  0  1  1  1 -1 -1
6 -1 -1 -1 -1 -1 -1 -1 -1
7 -1 -1 -1 -1 -1 -1 -1 -1

count: 131 < win-outcome list => [0, 1] >

   0  1  2  3  4  5  6  7
0 -1 -1 -1 -1 -1 -1 -1 -1
1  1 -1  0  1 -1 -1 -1 -1
2 -1  1  1  1 -1 -1 -1 -1
3  0  1  1  1  1  1 -1 -1
4  0  0  1  1  1  1  1 -1
5  0  0  0  0  0 -1 -1 -1
6  0 -1  0 -1 -1 -1 -1 -1
7 -1 -1 -1 -1 -1 -1 -1 -1

count: 132 < win-outcome list => [0, 0] >

   0  1  2  3  4  5  6  7
0 -1 -1 -1 -1 -1 -1 -1 -1
1 -1 -1 -1 -1 -1 -1 -1 -1
2 -1 -1 -1 -1 -1  0 -1 -1
3 -1 -1 -1  1  0  0 -1 -1
4 -1 -1 -1  0  0  0 -1 -1
5 -1 -1  0  1  1  1 -1 -1
6 -1 -1 -1 -1 -1 -1 -1 -1
7 -1 -1 -1 -1 -1 -1 -1 -1

count: 133 < win-outcome list => [0, 1] >

   0  1  2  3  4  5  6  7
0 -1 -1 -1 -1 -1 -1 -1 -1
1 -1 -1 -1 -1 -1 -1 -1 -1
2 -1 -1 -1 -1 -1 -1 -1 -1
3 -1 -1 -1  1  0 -1 -1 -1
4 -1 -1  0  0  0  0 -1 -1
5 -1 -1 -1  1  1  1 -1 -1
6 -1 -1 -1 -1 -1 -1 -1 -1
7 -1 -1 -1 -1 -1 -1 -1 -1

count: 134 < win-outcome list => [1, 0] >

   0  1  2  3  4  5  6  7
0 -1 -1 -1 -1 -1 -1 -1 -1
1 -1 -1 -1 -1 -1 -1 -1 -1
2 -1 -1 -1 -1 -1 -1 -1 -1
3 -1 -1 -1  1  1  1 -1 -1
4 -1 -1 -1  1  1  1 -1 -1
5 -1 -1  0  0  1  0  0 -1
6 -1 -1 -1  1  0 -1 -1 -1
7 -1 -1 -1 -1  1  1  1 -1

count: 135 < win-outcome list => [1, 1] >

   0  1  2  3  4  5  6  7
0 -1 -1 -1 -1 -1 -1 -1 -1
1 -1 -1 -1 -1 -1 -1 -1 -1
2 -1 -1 -1 -1 -1 -1 -1 -1
3 -1 -1 -1  1  0 -1 -1 -1
4 -1 -1 -1  0  1  0 -1 -1
5 -1 -1 -1 -1 -1  1 -1 -1
6 -1 -1 -1 -1 -1 -1 -1 -1
7 -1 -1 -1 -1 -1 -1 -1 -1

count: 136 < win-outcome list => [0, 1, 1, 0, 2, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0] >

   0  1  2  3  4  5  6  7
0 -1 -1 -1  1 -1  0 -1 -1
1 -1 -1 -1 -1  1 -1 -1 -1
2 -1 -1  0  0  0  0  0 -1
3 -1 -1  0  0  1  1 -1 -1
4 -1 -1  0  1  1  1 -1 -1
5 -1  0 -1  1  1  1  1 -1
6 -1 -1 -1 -1  1  0 -1 -1
7 -1 -1 -1 -1 -1 -1 -1 -1

count: 137 < win-outcome list => [0, 0, 1, 1] >

   0  1  2  3  4  5  6  7
0 -1 -1  0  0  0  0  0 -1
1 -1  1  1  0  0  0 -1  1
2 -1  1  1  1  0  1  1 -1
3  1  1  1  0  0  1  0  0
4  1  1  0  0  1  0  0  0
5 -1  0  0  1  0  1  0  0
6  0 -1  0  0  0  0  1  0
7 -1  1  1  1  1  1  1  1

count: 138 < win-outcome list => [1, 1] >

   0  1  2  3  4  5  6  7
0 -1 -1  0  0  0  0  0 -1
1 -1  1  1  0  0  0 -1  1
2 -1  1  1  1  0  1  1 -1
3  1  1  1  0  0  1  0  0
4  1  1  0  0  1  0  0  0
5 -1  0  1  1  0  0  0  0
6  0 -1  1  0  0  0  0  0
7 -1  1 -1  0  0  0  0 -1

count: 139 < win-outcome list => [1, 1] >

   0  1  2  3  4  5  6  7
0 -1 -1  0  0  0  0  0 -1
1 -1 -1 -1  1  1  0 -1 -1
2 -1  1  1  1  0  1  0 -1
3 -1 -1  1  0  1  1  1 -1
4 -1 -1  0  1  1  1 -1 -1
5 -1  0 -1  1  1  1  1 -1
6 -1 -1 -1 -1  1  0 -1 -1
7 -1 -1 -1 -1 -1 -1 -1 -1

count: 140 < win-outcome list => [0, 0, 1, 1] >

   0  1  2  3  4  5  6  7
0 -1 -1  0  0  0  0  0 -1
1 -1 -1  0  0  0  0 -1 -1
2 -1  1  0  1  0  1  1  1
3 -1 -1  0  0  1  1  1 -1
4 -1 -1  0  1  1  1 -1 -1
5 -1  0 -1  1  1  1  1 -1
6 -1 -1 -1 -1  1  0 -1 -1
7 -1 -1 -1 -1 -1 -1 -1 -1

count: 141 < win-outcome list => [0, 0] >

   0  1  2  3  4  5  6  7
0 -1 -1 -1  1  0  0 -1 -1
1 -1 -1 -1  1  0 -1 -1 -1
2 -1 -1  0  1  1  1  0 -1
3 -1 -1  0  1  1  1  1 -1
4 -1 -1  0  1  1  1 -1 -1
5 -1  0 -1  1  1  1  1 -1
6 -1 -1 -1 -1  1  0 -1 -1
7 -1 -1 -1 -1 -1 -1 -1 -1

count: 142 < win-outcome list => [0, 0, 1, 1] >

   0  1  2  3  4  5  6  7
0 -1 -1 -1 -1 -1 -1 -1 -1
1 -1 -1  0  1 -1 -1 -1 -1
2 -1  1  1  1 -1 -1 -1 -1
3 -1  1  1  1  1  1 -1 -1
4  0  1  1  0  0  0 -1 -1
5  0  1  0  0  0 -1 -1 -1
6  0 -1 -1 -1 -1 -1 -1 -1
7 -1 -1 -1 -1 -1 -1 -1 -1

count: 143 < win-outcome list => [0, 0] >